.sim-img-container {
  @apply block w-74 grow text-primary-content bg-primary border-3 border-primary;
}

.sim-img-label {
  @apply font-semibold p-1 text-center;
}

.sim-img {
  @apply skeleton rounded-none w-full h-100 object-cover;
}

.sim-img-name {
  @apply mb-8 text-center h-1;
}
