.sim-img-label {
  @apply text-xl font-semibold p-2 text-center bg-primary border-3 border-primary text-base-100;
}

.sim-img {
  @apply skeleton rounded-none border-3 border-primary w-full h-100 object-cover;
}

.sim-img-name {
  @apply mb-8 text-center h-1 font-medium;
}
