.sim-img-container {
  @apply block w-74 grow text-primary-content bg-primary outline-3 outline-primary;
}

.sim-img-label {
  @apply text-xl font-semibold p-2 text-center;
}

.sim-img {
  @apply skeleton rounded-none w-full h-100 object-cover;
}

.sim-img-name {
  @apply mb-8 text-center h-1;
}
