@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "research-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0.27 0.0037 286.15);
  --color-base-200: oklch(0.35 0.0138 285.66);
  --color-base-300: oklch(0.42 0.0281 285.13);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(100% 0 0);
  --color-primary-content: oklch(0.27 0.0037 286.15);
  --color-secondary: oklch(100% 0 0);
  --color-secondary-content: oklch(0.27 0.0037 286.15);
  --color-accent: oklch(100% 0 0);
  --color-accent-content: oklch(0.27 0.0037 286.15);
  --color-neutral: oklch(100% 0 0);
  --color-neutral-content: oklch(0.27 0.0037 286.15);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.014 180.72);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "research-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(15.906% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(21.455% 0.001 17.278);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(26.861% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(79.54% 0.103 205.9);
  --color-info-content: oklch(15.908% 0.02 205.9);
  --color-success: oklch(90.13% 0.153 164.14);
  --color-success-content: oklch(18.026% 0.03 164.14);
  --color-warning: oklch(88.37% 0.135 79.94);
  --color-warning-content: oklch(17.674% 0.027 79.94);
  --color-error: oklch(78.66% 0.15 28.47);
  --color-error-content: oklch(15.732% 0.03 28.47);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme {
  --font-sans: "Google Sans Flex", sans-serif;
  --font-code: "Google Sans Code", monospace;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

:root {
  @apply font-sans;
}

p {
  @apply mb-4;
}

p:last-of-type {
  @apply mb-8;
}

pre {
  @apply font-code text-sm wrap-anywhere sm:wrap-normal whitespace-pre-wrap p-4 md:p-8 bg-base-200;
}

.section-content {
  @apply m-auto px-4 py-8 md:p-8 max-w-5xl;
}

.header-2 {
  @apply text-4xl font-semibold mb-4;
}

.header-3 {
  @apply text-2xl font-semibold mb-2;
}

@import "./components/components.css";
